
h2 {
    width: 100%;
    text-align: center;
    background-color: #151515;
    font-size: 18px;
    color: #f4f4f4;
    margin: 0px;
    /* height: 50px; */
    padding: 12px;
}

.container {
    width: 80%;
    margin: 10%;
}

.divcontainer {
    width: 50%;
}
button {
    border: none;
    border-radius: 5px;
    background-color: #1c30a2;
    color: #f4f4f4;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
}
input {
    border: 1px solid #555;
    border-radius: 5px;
    color: #555;
    font-size: 14px;
    padding: 10px;

}

input::placeholder {
    color: #555;
    font-size: 14px;
}

.bgDone {
    background-color: #2e6cd4e6;
    color: #fff;
}



table {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #555;
    overflow-y: auto;
}
th, td{
    text-align: center;
    /* min-height: 30px; */
    padding: 10px;
    font-size: 14px;
}
thead {
    background-color: #151515;
    color: #f4f4f4;
}
tbody tr {
    background-color: #f4f4f4;
    color: #151515;
    padding: 10px;
}